extends layout

block jumbo
	h1 #{jumboTitle}

block main
	.row
		.col-md-12
			form()
				.form-group
					label(for="username") Username
					input#username.form-control(type="text" name="username")
					#messages

